#root {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.list-counter {
  position: relative;
  margin: 0.5em;
}

.input-area {
  width: 50rem;
}

.button-container {
  margin-top: 25px;
}

.add-button {
  margin-right: 102px;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  #root {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 1em;
  }
  .title {
    position: static;
    margin-top: 1em;
    text-align: left;
  }

  .list-counter {
    margin: 0;
  }

  .input-container {
    top: auto;
  }

  .input-area {
    width: 100%;
    color: white;
  }

  .add-button {
    margin-right: 0;
    margin-top: 1em;
  }
}

.num-list {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
